ul#cssmw3 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul li {
  background-image: none;
  border-bottom: solid 1px black;
  float: none;
  margin-bottom: -1px;
}
ul#cssmw3 li {
  zoom:1;
  background-image: none;
  border-bottom: solid 1px black;
  float: left;
  margin-bottom: -1px;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}
ul#cssmw3 li ul {
  display: none;
  top: 0;
}
ul#cssmw3 li.hover ul {
  display: block;
  position: absolute;
}

ul#cssmw3 li.current ul {
  position: absolute;
}
ul#cssmw3 li {
  zoom:1;
  background-image: none;
}
ul#cssmw3 li a, ul#cssmw3 li a.link {
  background-color: #99C8C1;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #173232;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  outline-style: none;
}
ul#cssmw3 li a.active, ul#cssmw3 li a.focus {
  background-color: #FAEEDB;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}
ul#cssmw3 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li.hover a, ul#cssmw3 li.hover a.link {
  background-color: #FAEEDB;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}

ul#cssmw3 li.current a.current, ul#cssmw3 li.current a.current.link {
  background-color: #FAEEDB;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}
ul#cssmw3 ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw3 ul.level-1 li {
  background-image: none;
}
ul#cssmw3 ul.level-1 li a, ul#cssmw3 ul.level-1 li a.link {
  background-color: #FAEEDB;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #173232;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  outline-style: none;
}
ul#cssmw3 ul.level-1 li a.active, ul#cssmw3 ul.level-1 li a.focus {
  background-color: #E0AA81;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}
ul#cssmw3 ul.level-1 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li.hover a, ul#cssmw3 ul.level-1 li.hover a.link {
  background-color: #E0AA81;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}

ul#cssmw3 ul.level-1 li.current a.current, ul#cssmw3 ul.level-1 li.current a.current.link {
  background-color: #E0AA81;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}
